// colors

$color-first: #00241B;
$color-second: #2F3E46;
$color-third: #354F52;
$color-fourth: #52796F;
$color-fifth: #84A98C;
$color-sixth: #65B891;
$color-seventh: #93E5AB;
$color-eighth: #B5FFE1;
$color-ninth: #CAD2C5;
$color-tenth: #FFFFFF;
$color-eleventh: #B6B6B6;
$color-twelfth: #6C757D;
$color-thirteenth: #3A587B;
$color-fourteenth: #34495E;
$color-fifteenth: #454545;
$color-sixteenth: #363636;
$color-seventeenth: #0E0C0C;

$color-tsuccess: #124010;
$color-tinfo: #3498DB;
$color-twarning: #E9BD0C;
$color-tdanger: #E24D4C;
$color-primary: #57A0E5;
$color-secondary: #6C757D;
$color-success: #06532F;
$color-warning: #CEBA33;
$color-danger: #B63E3E;

$color-head: #E2E3E5;
$color-title: #36304A;
$color-odd: #F2F2F2;
$color-even: #FFFFFF;
$color-selected: #ECECEC;
$color-line: #CED4DA;
$color-button: #6C757D;
$color-blueButton: #0D6EFD;

// spaces

$space-first: 1px;
$space-second: 2px;
$space-third: 3px;
$space-fourth: 4px;
$space-fifth: 5px;
$space-sixth: 6px;
$space-seventh: 7px;
$space-eighth: 8px;
$space-ninth: 9px;
$space-one2: 10px;
$space-twentyFifthH: 25vh;
$space-hundredthH: 100vh;
$space-hundredthW: 100vw;

$space-side: "256px";
$space-radios: "5px";

$space-xxxs: "0.06rem";
$space-xxs: "0.222rem";
$space-xs: "0.563rem";
$space-sm: "0.75rem";
$space-rg: "1rem";
$space-md: "1.33rem";
$space-lg: "1.77rem";
$space-xl: "2.369rem";
$space-xxl: "2.7rem";
$space-xxxl: "10rem";

$space-xxs0: "0.422rem";
$space-xs0: "0.563rem";
$space-sm0: "0.75rem";
$space-rg0: "10%";
$space-md0: "1.33rem";
$space-lg0: "1.77rem";
$space-xl0: "2.369rem";

$space-step: "100px";
$space-cinco: "5px";
$space-px0: "0px";